<div class="section">
  <form class="form"
      [formGroup]="form"
      (ngSubmit)="addDate()">
    <div class="form__field">
      <input
          formControlName="date"
          id="date" 
          type="text"
          class="form-control">

        <div class="form__alert"
            *ngIf="date.touched && date.invalid">
          <div 
              *ngIf="date.errors.required">
            Date is required
          </div>

          <div 
              *ngIf="date.errors.minlength || date.errors.maxlength">
            Date shoud be 10 numbers long.
          </div>
        </div> <!-- form__alert -->
      </div> <!-- form__field -->

      <button class="form__button" 
          type="submit"
          [disabled]="form.invalid">
        Add Data
      </button> <!-- form__button -->
  </form> <!-- form -->

  <app-read></app-read>
</div> <!-- section -->