<div
    *ngIf="examples">
  <h3>
    Data
  </h3>

  <ul>
    <li 
        *ngFor="let example of examples | async; let i = index">
      ID : {{ example.id }} <br>
      Date : {{ example.date }} <br>
      Parent : {{ example.parent }}
    </li>
  </ul>
</div>