/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

.section {
    min-width: 700px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 50px;
    display: inline-block;
    text-align: left;
}

.shell {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    text-align: center;
    padding-top: 150px;
}